.achievment-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #0B2239;
}
.achievment-section .container {
  margin-left: 12rem;
  margin-right: 12rem;
}
.achievment-section .container .row {
  display: flex;
}

.achievment-section .container .row .col {
  width: 100%;
}

.achievment-section .container .row .col h1{
    color: white;
    text-align: center;
    font: 500  2rem/32px  "Lora", serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

@media (max-width: 1190px) {
    .achievment-section .container {
        margin-left: 8rem;
        margin-right: 8rem;
      }
}
@media (max-width: 900px) {
    .achievment-section.container {
        margin-left: 5rem;
        margin-right: 5rem;
      }
}
@media (max-width: 750px) {
    .achievment-section .container {
        margin-left: 2rem;
        margin-right: 2rem;
      }
}

@media (max-width: 600px) {

}
@media (max-width: 450px) {

}