<div class="banner-section">
  <swiper-container class="banner-swiper" space-between="30" centered-slides="true" loop="true" autoplay-delay="2500"
    effect="fade" autoplay-disable-on-interaction="false">
    <swiper-slide>
      <img src="assets/images/bg-1.jpg" alt="banner image" class="banner-image" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/bg-2.jpg" alt="banner image" class="banner-image" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/bg-3.jpg" alt="banner image" class="banner-image" />
    </swiper-slide>
    <swiper-slide>
      <img src="assets/images/bg-4.jpg" alt="banner image" class="banner-image" />
    </swiper-slide>
  </swiper-container>
  <div class="banner-overlay">
    <div class="banner-layer"></div>
    <div class="banner-description">
      <h1>SMA Rimba Madya</h1>
      <h2>MULIA DALAM BERAKHLAK, UNGGUL DALAM BERPRESTASI</h2>
      <button mat-flat-button class="btn-pendaftaran">Pendaftaran PDB 2023/2024</button>
    </div>
  </div>
</div>