<div class="news-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="controller-container">
          <div class="header-container">
            <h1>School News</h1>
            <h3>Here is news about Your School Name.</h3>
          </div>
          <div class="controller-section">
            <button (click)="onPrev()" mat-button color="primary" 
            class="btn-controller btn-prev button-prev">
              <img src="assets/images/right-chevron.png" alt="image-news" />
            </button>
            <button (click)="onNext()" mat-button class="btn-controller btn-next button-next">
              <img src="assets/images/right-chevron.png" alt="image-news" />
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <swiper-container  
        #newsSwiper 
        class="news-swiper" 
        pagination="true" 
        >
        @for (news of listNews; track news) {
          <swiper-slide>
            <div class="news-container">
              <img [src]="news.image" alt="image-news" class="news-image" />
              <div class="overlay"></div>
              <div class="news-description">
                <div class="row-news-1">
                  <div class="tag">
                    <i class="fa-solid fa-tag"></i>
                   {{news.tag}}
                  </div>
                  <div class="spacer"></div>
                  <div class="time-post">
                    <i class="fa-solid fa-clock"></i>
                    {{news.datePost | formatDate }}
                  </div>
                </div>
                <div class="row-news-2">
                  <div class="header-news">
                    {{news.title}}
                  </div>
                </div>
                <div class="row-news-3">
                  <div class="author-news">
                    <i class="fa-solid fa-pen-nib"></i>
                    {{news.author}}
                  </div>
                  <div class="spacer"></div>
                  <div class="share-action">
                    Share <i class="fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        }
        </swiper-container>
      </div>
    </div>
    <div class="row next-news">
      <div class="col">
        <p class="link-next-news">More News</p>
      </div>
    </div>
  </div>
</div>

<!-- CREDITS
  Photo by <a href="https://unsplash.com/@danny_stol?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Danny B</a> on <a href="https://unsplash.com/photos/a-man-sitting-in-the-cockpit-of-a-yellow-plane-A0Vb0FCSGtY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  Photo by <a href="https://unsplash.com/@thisisengineering?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ThisisEngineering RAEng</a> on <a href="https://unsplash.com/photos/man-in-blue-crew-neck-t-shirt-standing-beside-woman-in-orange-tank-top-H4ClLKv3pqw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
Photo by <a href="https://unsplash.com/@brookecagle?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brooke Cagle</a> on <a href="https://unsplash.com/photos/a-group-of-friends-at-a-coffee-shop--uHVRvDr7pg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
<a href="https://www.flaticon.com/free-icons/up-chevron" title="up chevron icons">Up chevron icons created by Freepik - Flaticon</a>-->