<div class="news-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="controller-container">
          <div class="header-container">
            <h1>Berita Sekolah</h1>
            <h3>Berikut adalah berita seputar SMA Rimba Madya Bogor</h3>
          </div>
          <div class="controller-section">
            <button mat-button color="primary" class="btn-controller btn-prev">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button mat-button class="btn-controller btn-next">
              <i class="fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <swiper-container class="news-swiper" pagination="true" pagination-clickable="true" space-between="15">
          <swiper-slide>
            <div class="news-container">
              <img src="assets/images/berita-1.jpg" alt="image-news" class="news-image" />
              <div class="overlay"></div>
              <div class="news-description">
                <div class="row-news-1">
                  <div class="tag">
                    <i class="fa-solid fa-tag"></i>
                    Prestasi Murid
                  </div>
                  <div class="spacer"></div>
                  <div class="time-post">
                    <i class="fa-solid fa-clock"></i>
                    2 mins ago
                  </div>
                </div>
                <div class="row-news-2">
                  <div class="header-news">
                    Murid SMA RIMBA Berhasil membuat Robot!
                  </div>
                </div>
                <div class="row-news-3">
                  <div class="author-news">
                    <i class="fa-solid fa-pen-nib"></i>
                    Alif Razan Saputra
                  </div>
                  <div class="spacer"></div>
                  <div class="share-action">
                    Share <i class="fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="news-container">
              <img src="assets/images/berita-2.jpg" alt="image-news" class="news-image" />
              <div class="overlay"></div>
              <div class="news-description">
                <div class="row-news-1">
                  <div class="tag">
                    <i class="fa-solid fa-tag"></i>
                    Prestasi Murid
                  </div>
                  <div class="spacer"></div>
                  <div class="time-post">
                    <i class="fa-solid fa-clock"></i>
                    2 mins ago
                  </div>
                </div>
                <div class="row-news-2">
                  <div class="header-news">
                    Murid SMA RIMBA Berhasil membuat Robot!
                  </div>
                </div>
                <div class="row-news-3">
                  <div class="author-news">
                    <i class="fa-solid fa-pen-nib"></i>
                    Alif Razan Saputra
                  </div>
                  <div class="spacer"></div>
                  <div class="share-action">
                    Share <i class="fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
          <swiper-slide>
            <div class="news-container">
              <img src="assets/images/berita-3.jpg" alt="image-news" class="news-image" />
              <div class="overlay"></div>
              <div class="news-description">
                <div class="row-news-1">
                  <div class="tag">
                    <i class="fa-solid fa-tag"></i>
                    Prestasi Murid
                  </div>
                  <div class="spacer"></div>
                  <div class="time-post">
                    <i class="fa-solid fa-clock"></i>
                    2 mins ago
                  </div>
                </div>
                <div class="row-news-2">
                  <div class="header-news">
                    Murid SMA RIMBA Berhasil membuat Robot!
                  </div>
                </div>
                <div class="row-news-3">
                  <div class="author-news">
                    <i class="fa-solid fa-pen-nib"></i>
                    Alif Razan Saputra
                  </div>
                  <div class="spacer"></div>
                  <div class="share-action">
                    Share <i class="fa-solid fa-share-nodes"></i>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</div>