<mat-toolbar class="tiny-information-section">
    <span class="section-email"><i class="fa-regular fa-envelope"></i> rimbamadya&#64;gmail.com</span>
    <span class="section-phone"><i class="fa-solid fa-phone"></i> 02518633155</span>
    <span class="spacer"></span>
    <div class="information-flag">
        <img src="assets/images/indonesia.png" alt="indonesian flag" class="flag indonesian-flag" />
        <img src="assets/images/united-kingdom.png" alt="british flag" class="flag british-flag" />
    </div>
</mat-toolbar>

<!-- Credits 
    <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons">Uk flag icons created by Freepik - Flaticon</a>
    <a href="https://www.flaticon.com/free-icons/indonesia" title="indonesia icons">Indonesia icons created by Creatype - Flaticon</a> 
-->