<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/images/headmaster.jpg" alt="head master" class="header-master" />
            </div>
            <div class="col">
                <div class="headmaster-speach">
                    <div class="quote-container left-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote " />
                    </div>
                    <div class="speach-container">
                        <p class="speach-content">
                            "SMA RIMBA MADYA adalah sekolah dengan segudang prestasi diberbagai bidang.
                            Dengan fasilitas yang memadai dan lingkungan belajar yang kondusif,
                            membuat SMA RIMBA MADYA mampu bersaing dengan sekolah unggulan lainya.
                            Memiliki Visi "Mulia dalam berakhlak, unggul dalam prestasi"
                            SMA RIMBA MADYA siap mencetak generasi berkualitas yang berguna untuk Bangsa dan Negara."
                        </p>
                    </div>
                    <div class="quote-container right-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote " />
                    </div>
                    <div class="footer">
                        <p class="name">Alif Razan Saputra</p>
                        <p class="role">Kepala Sekolah</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 
    Credits
    Photo by <a href="https://unsplash.com/@linkedinsalesnavigator?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">LinkedIn Sales Solutions</a> on <a href="https://unsplash.com/photos/man-standing-beside-wall-pAtA8xe_iVM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
<a href="https://www.flaticon.com/free-icons/quote" title="quote icons">Quote icons created by Xinh Studio - Flaticon</a>
-->