<mat-toolbar class="header-menu-section" [class.sticky-nav]="isScrolled">
    <img src="assets/images/logo.avif" alt="logo" class="logo" />
    <span class="spacer"></span>
    <button mat-icon-button class="menu-btn" aria-label="menu-btn">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="menu-collapse">
        <mat-list role="list" class="list-menu">
            <mat-list-item (click)="gotoDiv('beranda')"><span>Beranda</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('about')" role="listitem"><span>Tentang</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('news')" role="listitem"><span>Berita</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('achievement')" role="listitem"><span>Prestasi</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('students')" role="listitem"><span>Siswa & Alumni</span></mat-list-item>
            <mat-list-item (click)="gotoDiv('login')"  role="listitem"><span>Login</span></mat-list-item>
        </mat-list>
    </div>
</mat-toolbar>