<div class="credits-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Credits</h1>
                <div class="credits">
                    <ul>
                        <li>
                            Photo by &nbsp; <a
                                href="https://unsplash.com/@linkedinsalesnavigator?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                                &nbsp;LinkedIn Sales Solutions </a> &nbsp;on <a
                                href="https://unsplash.com/photos/man-standing-beside-wall-pAtA8xe_iVM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                                &nbsp;Unsplash&nbsp; </a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/free-icons/quote" title="quote icons">Quote icons created
                                by Xinh Studio - Flaticon</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@sanrona?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">sandra
                                lansue</a> on <a
                                href="https://unsplash.com/photos/a-woman-on-a-beach--qyHhtAzd_Y?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@jellydollar?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jelly
                                Dollar</a> on <a
                                href="https://unsplash.com/photos/a-group-of-vases-sit-on-a-table-jXqlkby9ylY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@raddfilms?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Redd
                                F</a> on <a
                                href="https://unsplash.com/photos/a-couple-of-men-standing-on-top-of-a-wrestling-ring-iw73pbcJyg4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@augie_ph?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">August
                                Phlieger</a> on <a
                                href="https://unsplash.com/photos/2-boys-playing-basketball-on-basketball-court-CREqtqgBFcU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@vincefleming?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Vince
                                Fleming</a> on <a
                                href="https://unsplash.com/photos/women-playing-volleyball-inside-court-aZVpxRydiJk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@janoschphotos?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Janosch
                                Diggelmann</a> on <a
                                href="https://unsplash.com/photos/man-in-blue-and-orange-jersey-shirt-running-on-green-grass-field-during-daytime-i8XiabUW3mw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@sangga_selia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sangga
                                Rima Roman Selia</a> on <a
                                href="https://unsplash.com/photos/white-concrete-building-near-green-trees-during-daytime-bgQgAKagQB4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@lndtxphoto?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Ryan
                                Jacobson</a> on <a
                                href="https://unsplash.com/photos/black-bicycle-parked-in-front-of-building-cXUOQWdRV4I?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@max_thehuman?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Max
                                Böhme</a> on <a
                                href="https://unsplash.com/photos/trees-near-arena-DRwfzyyKw1s?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@neonbrand?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kenny
                                Eliason</a> on <a
                                href="https://unsplash.com/photos/man-and-woman-sitting-on-chairs-zFSo6bnZJTw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons">Uk flag icons
                                created by Freepik - Flaticon</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/free-icons/indonesia" title="indonesia icons">Indonesia
                                icons created by Creatype - Flaticon</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@danny_stol?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Danny
                                B</a> on <a
                                href="https://unsplash.com/photos/a-man-sitting-in-the-cockpit-of-a-yellow-plane-A0Vb0FCSGtY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@thisisengineering?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ThisisEngineering
                                RAEng</a> on <a
                                href="https://unsplash.com/photos/man-in-blue-crew-neck-t-shirt-standing-beside-woman-in-orange-tank-top-H4ClLKv3pqw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@brookecagle?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brooke
                                Cagle</a> on <a
                                href="https://unsplash.com/photos/a-group-of-friends-at-a-coffee-shop--uHVRvDr7pg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/free-icons/up-chevron" title="up chevron icons">Up chevron
                                icons created by Freepik - Flaticon</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@4lexmccarthy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Alex
                                McCarthy</a> on <a
                                href="https://unsplash.com/photos/man-in-brown-leather-jacket-smiling-RGKdWJOUFH0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@quynhlmph14759?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Quỳnh
                                Lê Mạnh</a> on <a
                                href="https://unsplash.com/photos/a-young-girl-sitting-in-the-grass-holding-a-book-dp3CS405UZM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
                            Photo by <a
                                href="https://unsplash.com/@sadswim?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">ian
                                dooley</a> on <a
                                href="https://unsplash.com/photos/man-standing-near-white-wall-d1UPkiFd04A?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

                        </li>
                        <li>
  Photo by <a href="https://unsplash.com/@charliegreen998?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Charlie Green</a> on <a href="https://unsplash.com/photos/man-in-black-hoodie-wearing-black-framed-eyeglasses-3JmfENcL24M?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                        </li>
                        <li>
  Photo by <a href="https://unsplash.com/@microsoft365?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Microsoft 365</a> on <a href="https://unsplash.com/photos/a-person-holding-a-laptop-7mBictB_urk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>